<extend name="Homepage/index" />
<block name="lunpo"></block>

<block name="content">
	<section id="content"><div class="ic"></div>
  <!-- <div class="border-horiz"></div> -->
 
  <div class="box-contact">
    <h3>个人档 <a href="<{:U('Personal/editpwd')}>" style="color:blue;font-size:20px;float:right;">修改密码</a></h3>
    <!-- <form id="contact-form" action="<{:U('Personal/save')}>" method="post"> -->
    <form id="contact-form">

      <div class="success"> Contact form submitted! <strong>We will be in touch soon.</strong> </div>
      <fieldset>
      <foreach name="list" item="vo">
        <div class="coll-1">
          <div>
            <div class="form-txt">昵称:</div>
            <label class="name">
              <!-- 长度限制 -->
              <input type="text" name="username" value="<{$vo.username}>">
              <!-- <span class="error">*This is not a valid name.</span> <span class="empty">*This field is required.</span> </label> -->
            <div class="clear"></div>
          </div>
          <div>
            <div class="form-txt">真实姓名:</div>
            <label class="name">
              <input type="text" name="name" value="<{$vo.name}>">
              <!-- <span class="error">*This is not a valid name.</span> <span class="empty">*This field is required.</span> --></label> 
            <div class="clear"></div>
          </div>
          <div>
            <div class="form-txt">电话号码:</div>
            <label class="phone">
              <input type="tel" name="phone" value="<{$vo.phone}>">
              <span class="error">*This is not a valid phone number.</span> <span class="empty">*This field is required.</span> </label>
            <div class="clear"></div>
          </div>
          <div>
            <div class="form-txt">性别:</div>
            <!-- <label class="email"> -->
           
              <select name="" id="" style="width:50px;">
                <option value="0" <if condition="$vo.sex eq '0'">selected</if>>女</option>
                <option value="1" <if condition="$vo.sex eq '1'">selected</if>>男</option>
              </select>
              <!-- <span class="error">*This is not a valid email address.</span> <span class="empty">*This field is required.</span>  -->
            <!-- </label> -->
            <br><br>
            <div class="clear"></div>
          </div>
          <div>
            <div class="form-text">出生年月</div>
            
            <select name="year" id="year">
              <option value="<{$year}>"><{$year}></option></select>年

            <select name="month" id="mon">
             <option value="<{$month}>"><{$month}></option>
            </select>月

            <select name="day" id="date">
              <option value="<{$day}>"><{$day}></option>
            </select>日
           <br><br>
            <div class="clear"></div>
          </div>
          <div>
            <div class="form-text">住址</div>
            <select name="" id="">
              <option value="0">江苏省</option>
            </select>
            <select name="" id="">
              <option value="0">泰州</option>
            </select>
            <br><br>
            <div class="clear"></div>
          </div>
          <div>
            <div class="form-txt">民族:</div>
            <label class="name">
              <input type="text" name="race" value="<{$vo.race}>">
              <!-- <span class="error">*This is not a valid name.</span> <span class="empty">*This field is required.</span> </label> -->
            <div class="clear"></div>
          </div>
        </div>
     

        <div class="coll-2">
          <div>
            <div class="form-txt">个性签名:</div>
             <label class="message">
              
              <textarea></textarea>
              <span class="error">*The message is too short.</span> <span class="empty">*This field is required.</span> </label> 
            <div class="clear"></div>
          </div>
        </div>
      </foreach>
        <div class="clear"></div>
        <div class="btns"> <button class="btn" >保存</button><!--  <a class="btn" data-type="submit">send</a> --> </div>
      </fieldset>
    </form>
  </div>
</section>
</block> 
<block name="script">
  <script>
  
    $("button").click(function(){
      // alert(1)
      $.ajax({
        type:'post',
        url:"<{:U('Personal/save')}>",
        dataType:'json',
        
        data:$('#contact-form').serialize(),
        success:function(data){
          alert(data);
        },
        error:function(data){
          alert('失败');
        }
      });
      
    });
</script>
</block>       