<extend name="Homepage/index" />
<block name="lunpo"></block>

<block name="content">
	<section id="content"><div class="ic"></div>
  <div class="border-horiz"></div>
  <div class="box-contact">
    <h3>个人档 <a href="<{:U('Personal/edit')}>" style="color:blue;font-size:20px;float:right;">修改</a></h3>
    <form id="contact-form">
      <fieldset>
        <div class="coll-1">
        <table class="table">
          <tr>
            <th><img src="__PUBLIC__/photos/touxiang/default.jpg" width=50 height=50 alt=""></th>
          </tr>
          <tr>
            <th>真实姓名:</th>
            <td>zengzhen</td>
          </tr>
          <tr>
            <th>性别:</th>
            <td>女</td>
          </tr>
          <tr>
            <th>手机号码:</th>
            <td>17715148026</td>
          </tr>
          <tr>
            <th>生日:</th>
            <td>十月十六</td>
          </tr>
          <tr>
            <th>星座:</th>
            <td>摩羯座</td>
          </tr>
          <tr>
            <th>现居地:</th>
            <td>中国 江苏 泰州</td>
          </tr>
          <tr>
            <th>民族:</th>
            <td>汉</td>
          </tr>
        </table>
      </div>
        <!-- <div class="coll-1">
          <div>
            <div class="form-txt">真实姓名:</div>
            <label class="name">

              <input type="text">
              <span class="error">*This is not a valid name.</span> <span class="empty">*This field is required.</span> </label>
            <div class="clear"></div>
          </div>
          <div>
            <div class="form-txt">Telephone:</div>
            <label class="phone">
              <input type="tel">
              <span class="error">*This is not a valid phone number.</span> <span class="empty">*This field is required.</span> </label>
            <div class="clear"></div>
          </div>
          <div>
            <div class="form-txt">Email:</div>
            <label class="email">
              <input type="email">
              <span class="error">*This is not a valid email address.</span> <span class="empty">*This field is required.</span> </label>
            <div class="clear"></div>
          </div>
        </div> -->
        <div class="coll-2">
          <div>
            <div class="form-txt">Information:</div>
             <label class="message">
              <ul>
                <li><a href="" style="color:black;">日志</a></li><span>0</span>
                <li><a href="" style="color:black;">相册</a></li><span>367</span>
                <li><a href="" style="color:black;">说说</a></li><span>16</span>
              </ul>
             <!-- <textarea></textarea>
              <span class="error">*The message is too short.</span> <span class="empty">*This field is required.</span>--> </label> 
            <div class="clear"></div>
          </div>
        </div>
        <div class="clear"></div>
        <!-- <div class="btns">

         <a class="btn" data-type="reset">Clear</a> <a class="btn" data-type="submit">send</a> 
       </div> -->
      </fieldset>
    </form>
  </div>
</section>
</block>