<extend name="Homepage/index" />
<block name="lunpo"></block>

<block name="content">
	<section id="content"><div class="ic"></div>
	  <div class="border-horiz"></div>
	  <div class="container_12">
	   	

	    <article class="side-bar extra">
	    	<ul>
	    		<h4 style="color:black;"><li><a href="" style="color:black;">照片</a>&nbsp;&nbsp;&nbsp;&nbsp;<span>0</span></li></h4>
	    		<h4 style="color:black;"><li><a href="" style="color:black;">说说</a>&nbsp;&nbsp;&nbsp;&nbsp;<span>0</span></li></h4>
	    		<h4 style="color:black;"><li><a href="" style="color:black;">日志</a>&nbsp;&nbsp;&nbsp;&nbsp;<span>0</span></li></h4>
	    	</ul>
	    	<br>
	    	<hr>
	    	<br>
	      <!-- <h3><strong>3</strong> Steps <em>To become<br>
	        a perfect cook</em> </h3>
	      <ul class="list-dropcap1">
	        <li>
	          <div class="wrapper">
	            <div class="dropcap">1</div>
	            <h4>Enter our <br>
	              school</h4>
	          </div>
	          <p>At vero eos et accusam justo duo dolores et ea Stet clita kasd gubergren.</p>
	          <a href="#" class="btn">Read more</a> </li>
	        <li>
	          <div class="wrapper">
	            <div class="dropcap">2</div>
	            <h4>Education
	              Courses</h4>
	          </div>
	          <p>takimata snctus Lorem ipsum dolor sit am Lorem ipsum dolor sit consetetur.</p>
	          <a href="#" class="btn">Read more</a> </li>
	        <li>
	          <div class="wrapper">
	            <div class="dropcap">3</div>
	            <h4>Practical
	              Training</h4>
	          </div>
	          <p>sadipscing elitsed diaonumy eirmod tempor duo dolores et ea rebum. Stet clita.</p>
	          <a href="#" class="btn">Read more</a> </li>
	      </ul> -->
	      <h4><a href="" style="color:black;">个人档</a></h4>
	      <br>
	      <hr>
	      <br>
			<h4><a href="" style="color:black;">留言板</a></h4>
			<br>
	    </article>
	    <!-- <article class="side-bar extra">
	    </article> -->
	    

	    <article class="grid_8">
	      <h3>我的动态</h3>
	      <ul class="list-recipes">
	        <li>
	          <figure class="box-img"><img src="images/page3-img1.jpg " alt="" /></figure>
	          <div class="overflow">
	            <!-- <h4><img src="__PUBLIC__/photos/touxiang/default.jpg" alt=""></h4> -->
	            <h5 style="color:black;">gnezgnez</h5>
	            <p>
	            	<h4><img src="__PUBLIC__/photos/touxiang/default.jpg" alt=""></h4>
	            	再见</p>
	          </div>
	          <div class="clear"></div>
	        </li>
	        <hr>
	        <li>
	          <figure class="box-img"><img src="images/page3-img2.jpg " alt="" /></figure>
	          <div class="overflow">
	            <h4>consetetur elitr</h4>
	            <p>aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
	              no sea takimata sanctus est Lor ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur. sadipscing</p>
	          </div>
	          <div class="clear"></div>
	        </li>
	        <li>
	          <figure class="box-img"><img src="images/page3-img3.jpg " alt="" /></figure>
	          <div class="overflow">
	            <h4>consetetur sadipscing</h4>
	            <p>sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo.
	              dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
	          </div>
	          <div class="clear"></div>
	        </li>
	      </ul>
	    </article>
	    <div class="clear"></div>
	  </div>
	</section>
</block>