<extend name="Layout/index" />
<block name="nav">
	<h1>
		网站反馈建议管理
		<small>
			<i class="icon-double-angle-right"></i>
			 查看
		</small>
	</h1>
</block>
<link href="__PUBLIC__/dist/css/bootstrap.min.css" rel="stylesheet">
<block name="main">
	<center><h1>网站反馈建议</h1>
	<table class="table table-striped table-bordered table-responsive table-hover table-responsive container-fluid">
		<tr>
			<th>
				<td>用户Id</td>
				<td></td>
			</th>
		</tr>
	</table>
	</center>
</block>
<script src="__PUBLIC__/dist/js/jquery.min.js"></script>
<script src="__PUBLIC__/dist/js/holder.js"></script>
<script src="__PUBLIC__/dist/js/bootstrap.min.js"></script>